doctype html
html
	head
		meta(charset='utf-8')

		//- Bloque para los estilos
		block styles
			link(rel='stylesheet', href='/stylesheets/style.css')

		//-- Bloque para el título de la app
		block title

	body
		//- Bloque principal
		block content

		//- Bloque para el footer
		block footer

		//- Bloque para los scripts
		block scripts
